<!-- Example row of columns -->
<div   >
	<div id='calendar'></div>
	<div class="right-bar">
		<select 
		ng-model="cI.mylang.value" 
		ng-options="lang.name  for lang in cI.langs.items"
		ng-change="cI.fun()">>
    </select>
		Язык<br />
		<select 
		ng-model="cI.mytime" 
		ng-options="time.name  for time in cI.times"
		ng-change="cI.fun2()">
    </select>
		формат времени
		
		<br />
		<select 
		ng-model="cI.day" 
		ng-change="cI.switchday()">
		<option ng-bind="cI.melang.value.LANG_sunday.VALUE" value="0"></option>
		<option ng-bind="cI.melang.value.LANG_monday.VALUE" value="1"></option>
		
    </select>
    <span ng-bind="cI.melang.value.LANG_firstday.VALUE"></span>
		
	</div>
</div>
