<!-- Example row of columns -->
<div   >
	
	<div class="roomlist">
		<ul><li ng-repeat="item in cI.rooms.items"  >
			<button ng-bind="item.name" ng-click="cI.rooms.set(item.id)"></button>
		</li>
		
			</ul>
	</div>
	<h3  ng-bind="cI.rooms.current"></h3>
	<hr />
	<div id='calendar'></div>
	<div class="right-bar">
		<span ng-bind="cI.melang.value.LANG_langs.VALUE"></span>:<br />
		<select 
		ng-model="cI.mylang.value" 
		ng-options="lang.name  for lang in cI.langs.items"
		ng-change="cI.fun()">
    </select>
		<br />
				<span ng-bind="cI.melang.value.LANG_timeformat.VALUE"></span>:<br />
		<select 
		ng-model="cI.mytime" 
		ng-change="cI.fun2()">
		<option  value="h(:mm)t">12</option>
		<option  value="H(:mm)">24</option>
    </select>
		<br />
		
		 <span ng-bind="cI.melang.value.LANG_firstday.VALUE"></span>:<br />
		<select 
		ng-model="cI.day" 
		ng-change="cI.switchday()">
		<option ng-bind="cI.melang.value.LANG_sunday.VALUE" value="0"></option>
		<option ng-bind="cI.melang.value.LANG_monday.VALUE" value="1"></option>
		
    </select>
   <br />
   <hr />
   <a ui-sref="bookit"  ng-bind="cI.melang.value.LANG_bookit.VALUE" class="btn btn-primary"></a>
	
	<div  adminmenu  ></div>
	</div>
</div>
